html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: hsl(56, 63%, 74%);
    color: #432000;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 10px 20px;
}

#shops-list li {
    padding: 10px;
}

#shops-list li.active {
    color: white;
}

#Lidl.active {
    background-color: rgb(0, 132, 255);
}

#Asda.active {
    background-color: rgb(41, 199, 41);
}

#Morrisons.active {
    background-color: rgb(206, 196, 62);
}

#Tesco.active {
    background-color: rgb(41, 44, 199);
}

#Costco.active {
    background-color: rgb(212, 78, 78);
}

#Other.active {
    background-color: rgb(105, 105, 105);
}

#input-field {
    color: #432000;
    background-color: #DCE1EB;
    border: 1px solid hsl(56, 21%, 44%);
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0px;
    width: -webkit-fill-available
}

#buttons-box {
    justify-content: space-between;
    display: flex;
}

#buy-now-button {
    background-color: #4faa66;
    width: 65%;
}

#buy-now-button:hover {
    background-color: #338a49;
    width: 65%;
}

button {
    color: white;
    background-color: rgb(134, 160, 182);
    border: 0;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    min-width: 33%;
}

button:hover {
    background-color: rgb(85, 111, 134);
    cursor: pointer;
}

.buy-time {
    font-size: 25px;
    margin: 20px 0 0;
    color: hsl(56, 21%, 27%);;
    border-bottom: 1px solid hsl(56, 21%, 27%);
    display: none;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

ul li {
    font-size: 20px;
    flex-grow: 1;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 15px;
    flex-grow: 1;
    text-align: center;
    text-transform: capitalize;
}

li:hover {
    background-color: gray;
    cursor: pointer;
}